extends layout

block scripts
    //script(src='/scripts/libs/jquery-2.1.0.min.js')
    script(src='https://code.jquery.com/jquery-3.0.0-rc1.min.js')
    script(src='/scripts/libs/jquery.color-2.1.2.min.js')
    script(data-main="/scripts/main", src='/scripts/libs/require-2.1.15.min.js')
    script.
        setTimeout(function(){!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");},1500);
    //script(async, src='//platform.twitter.com/widgets.js')
    //script(src='https://code.jquery.com/jquery-3.0.0-rc1.min.js')
    script.
        /*setTimeout(function(){
        //var iframe = $('#twitter-widget-0');
        //var myIframe = document.getElementById('twitter-widget-0');
        //myIframe.contentWindow.scrollTo(0,500);
        
        var sidebar = $(".sidebar")
        var iframe = $(".sidebar iframe");
        var scrollTime = parseInt(iframe.css('height'), 10) * 20;
        console.log(scrollTime);
        
        sidebar.animate({ 
            scrollTop: iframe.height() }, scrollTime);
             setTimeout(function() {
                 sidebar.animate({scrollTop:0}, scrollTime); 
            },scrollTime);
            
            var scrolltopbottom =  setInterval(function(){
                // scrollTime - it will take scrollTime secound in total from the top of the page to the bottom
                sidebar.animate({ scrollTop: iframe.height() }, scrollTime);
                setTimeout(function() {
                    sidebar.animate({scrollTop:0}, scrollTime);
                },scrollTime);
            },scrollTime*2);
        
        }, 5000)*/
        
        
        /*(function() {
            var lastTime = 0;
            var vendors = ['ms', 'moz', 'webkit', 'o'];
            for(var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
                window.requestAnimationFrame = window[vendors[x]+'RequestAnimationFrame'];
                window.cancelAnimationFrame = window[vendors[x]+'CancelAnimationFrame'] 
                                        || window[vendors[x]+'CancelRequestAnimationFrame'];
            }
        
            if (!window.requestAnimationFrame)
                window.requestAnimationFrame = function(callback, element) {
                    var currTime = new Date().getTime();
                    var timeToCall = Math.max(0, 16 - (currTime - lastTime));
                    var id = window.setTimeout(function() { callback(currTime + timeToCall); }, 
                    timeToCall);
                    lastTime = currTime + timeToCall;
                    return id;
                };
        
            if (!window.cancelAnimationFrame)
                window.cancelAnimationFrame = function(id) {
                    clearTimeout(id);
                };
        }());*/
        
        window.requestAnimFrame = (function(){
            return  window.requestAnimationFrame       || 
                    window.webkitRequestAnimationFrame || 
                    window.mozRequestAnimationFrame    || 
                    window.oRequestAnimationFrame      || 
                    window.msRequestAnimationFrame     || 
                    function(/* function */ callback, /* DOMElement */ element){
                        window.setTimeout(callback, 1000 / 60);
                    };
            })();
        
        setTimeout(function(){
            (function(){
                var sidebar = document.getElementById('js-sidebar');
                var twitterFeed = document.getElementById('twitter-widget-0');
                var containerHeight = sidebar.clientHeight;
                var feedHeight = twitterFeed.clientHeight - containerHeight;
                //var twitterFeed = $('#twitter-widget-0');
                //var feedHeight = parseInt(twitterFeed.css('height'), 10)
                
                function infScroll(){
                    sidebar.scrollTop +=1;
          
                    if(sidebar.scrollTop >= feedHeight){
                        console.log(feedHeight);
                        sidebar.scrollTop = 0;
                        
                    }
                    //window.requestAnimationFrame(infScroll);
                    requestAnimFrame(infScroll, window);
                }
                //window.requestAnimationFrame(infScroll);
                requestAnimFrame(infScroll, window);
            }());
        }, 5000)

block content
    .full-size(data-bind='component: { name: options.theme(), params: { builds: builds } }')

    //include options.jade
    //include overlay.jade